@charset "UTF-8";
/* Configurações para impressão */
* {
    margin: 10px;
    pad: 10px;

}
article {
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}
 